.background-image {
  margin: 0px;
  margin-top: 60px;
  background-image: url('./media/images/white_golden_retriever.jpg');
  background-size: 60%;
  height: 825px;
  background-repeat: no-repeat;
  background-origin: content-box;
  background-position: top center;
  background-attachment: local;
}

.App {
  text-align: center;
}

.App-logo {
  /*animation: App-logo-spin infinite 20s linear;*/
  height: 20px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 3.5em;
  font-family: fantasy;
}

.component_title {
  font-size: 2.0em;
  font-family: fantasy;
  padding: 20px;
}
.App-intro {
  font-size: large;
}

.login {
  font-size: 0.5 em;
  font-family: fantasy;
  color: purple;
  text-align: left;
  padding: 20px;
}

.grid-container {
  text-align: center;
  display: grid;
  grid-template-columns: 200px 200px 200px;
  grid-gap: 25px;
}
.bone{
  position: relative;
  width: 600px;
}
.s1, .s2, .s3, .s4{
  background:#fff;
  height: 200px;
  width: 200px;
  border: 5px solid #000;
  border-radius: 200px;
  position:absolute;
}
.s1{
  left: 0;
}
.s2{
  right: 0;
}
.s3{
  top: 205px;
}
.s4{
  right: 0;
  top:205px;
}
.centerbone{
  background:#fff;
  height: 250px;
  width: 188px;
  border: 5px solid #000;
  position:absolute;
  left: 205px;
  top: 78px;
  border-width: 5px 0 5px;
}
.clean{
  background:#fff;
  width: 400px;
  height:100%;
  position: absolute;
  left:-104px;
}
.active {
  font-size: 2.0em;
  font-family: fantasy;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
